<!DOCTYPE html>
<html>

    <head>
        <meta charset="utf-8">
        <title>Some Website</title>
    </head>

    <body>
        <h1>We will right back.</h1>
        <p>Site is being updated, we will back soon.</p>
    </body>

</html>